@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.sample{
    font-family: 'Belanosima', sans-serif;
    font-size: 90px;
}
.sample2{
    font-family: 'Belanosima', sans-serif;
    font-size: 30px;
    background-color: rgb(160, 172, 160);
    color: rgb(255, 233, 233);
}
.imgP{
    font-family: 'Belanosima', sans-serif;
    font-size: 25px;
    color: black;
}